/* Paleta de colores */
:root {
    --color-primario: #6f42c1;  /* Morado oscuro */
    --color-secundario: #9561e2;  /* Morado claro */
    --color-fondo: #fff;  /* Blanco */
    --color-texto: #333;  /* Texto oscuro */
}

/* Estilos generales */
body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: var(--color-fondo);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}


.language-switch {
    margin-left: 2vw;
}

.language-switch .current-language{
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    margin: 0;
    background-color: #8254c5;
    padding: 0 1em;
    border-radius: .2em 0 0 .2em;

}

.other-languages {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0em;
    margin: 0;
    background-color: #6f48aa;
    transform-origin: 0% 100%;
    transform: scaleX(0);
    border-left: solid #ffffff74 3px;
    padding-left: 10px;
    padding-right: 8px;
    border-radius: 0 10px 10px 0;
    transition: all 0.2s ease;
}

.other-languages p {
    font-size: 2.5em;
    margin-inline: .23em;
    margin-block: 0;
    padding: 0;
    cursor: pointer;
}

.language-arrow {
    padding: .5em .6em .5em .3em;
    font-size: 1.5em;
    margin-block: .0em;
    color: #ffffffb0;
    background-color: #8254c5;
    border-radius: 0 50% 50% 0;
    transition: all 1s ease;
    
}   

.language-arrow:hover {
    color: white;
    cursor: pointer;
    transition: all 0.3s ease;
}


.current-language p {
    margin: 0;
    font-size: 2.5em;
}
.language-switch {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}


/* Barra de navegación */
.navbar {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    background-color: var(--color-secundario);
    width: 100%;
}

.navbar-toggler-icon i {
    color: rgba(255, 255, 255, 0.794);
    font-size: 1.5em;
    transition: all 0.3s ease;
}

.navbar-toggler:active , .navbar-toggler-icon i {
    color: #ffffff;
    font-size: 1.6em;
    transition: all 0.3s ease;
}

.nav-link {
    color: #ffffffc8;
    transition: all 0.2s ease;
}

.nav-link:hover {
    color: white;
    transition: all 0.2s ease;
}

.navbar-brand {
    font-size: 1.5em;
    font-weight: 600;
    color: white;
}
.navbar-brand i {
    font-size: 1em;
    margin-left: 5px;
}




/* Sección de inicio */
#inicio {
    background-color: var(--color-secundario);
    color: #fff;
    padding: 2em 0;
    margin: 0%;
    width: 100%;
    border-radius: 0 0 35vw 35vw;
}

#inicio i {
    font-size: 5em;
    margin-bottom: 20px;
    color: #fff;
}

#inicio h1 {
    font-weight: 600;
}
#inicio p {
    font-weight: 500;
}

/* Sección sobre mí */
#sobre-mi {
    padding: 4em 10vw;
    background-color: var(--color-fondo);
}

#sobre-mi h2 {
    font-weight: 600;
}

#sobre-mi .row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#sobre-mi .col-md-6 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#sobre-mi i {
    font-size: 1em;
    margin-left: 20px;
    color: var(--color-primario);
}

#sobre-mi img {
    max-width: 100%;
    height: auto;
}

/* Sección de habilidades */
#habilidades {
    background-color: #f0f0f0;  /* Gris claro */
    padding: 4em 0;
}

#habilidades i {
    margin-bottom: 15px;
    color: var(--color-primario);
}

.habilidades-lista li {
    text-align: center;
    margin-inline: 4em;
    margin-top: 40px;
}

.habilidades-lista li i {
    font-size: 4em;
    margin-bottom: 10px;
    color: var(--color-primario);
}

/* Sección de proyectos */
#proyectos {
    padding: 6em 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-inline: 0vw;
}

.row{
    margin: 0;
}
#proyectos i {
    margin-bottom: 10px;
    color: var(--color-primario);
}

div .col-md-4 {
    margin: 0vw;
    padding: 2vw;
}

.card {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    margin-bottom: 2em;
}

.btn-primary {
    background-color: var(--color-primario);
    border-color: var(--color-primario);
}

.btn-primary:hover {
    background-color: #5a338f;
    border-color: #5a338f;
}

/* Sección de educación */
#educacion {
    background-color: #f0f0f0;
    padding: 4em 2em;
    border-radius: 10px;
}

#educacion i {
    margin-bottom: 10px;
    color: var(--color-primario);
}

section {
    border-radius: 10px;
}

/* Sección de contacto */
#contacto {
    padding: 4em 0;
}
#contacto i {
    margin-bottom: 10px;
    color: var(--color-primario);
}
.row {
    margin-top: 45px;
}

.redes-sociales {
    font-size: 2em;
}

.redes-sociales a {
    color: var(--color-primario);
}

/* Pie de página */
footer {
    background-color: var(--color-primario);
    color: #fff;
    text-align: center;
    width: 100%;
}

footer p {
    margin-block: .2em;
    margin-inline: .5em;
    font-weight: 500;
    font-size: .8em;
}

/* Animación para la sección de inicio */
#inicio img {
    animation: pulse 2s infinite;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.05);
    }
    100% {
        transform: scale(1);
    }
}

/* Botón de scroll al inicio */
.btn-scroll-top {
    position: fixed;
    bottom: 20px;
    right:20px;
    background-color: #6e42c1ce;
    color: #fff;
    border: none;
    border-radius: 50%;
    padding: 10px;
    cursor: pointer;
    display: none;
    transition: all 0.3s ease;
}

.btn-scroll-top:hover {
    background-color: #6f42c1;
    scale: (1.05);
    transition: all 0.3s ease;
}

.btn-scroll-top:active {
    scale: (0.5);
    transition: all 0.3s ease;
}

.btn-scroll-top i {
    font-size: 1.8em;
    padding: .2em;
}
