:root {
    --primario: #33ff5f;
    --morado: #a200ff;
}


html {
    /* 62.5% of 16px browser font size is 10px */
    font-size: 62.5%;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    margin: 0%;
    padding: 0%;
    background-color: #ffffff;
}

header {
    transition: all 0.2s ease;
    display: flex;
    background-color: #fbfbfb;
    box-shadow: 0px 4px 23px rgba(0,0,0,1);
    margin-bottom: 3rem;
}


.titleLogo{
    margin-left: 12rem;
    display: flex;
    justify-content: left;
    align-items: center;
}

h1 {
    color: var(--morado);
    font-size: 2.8rem;
    margin: 0%;
    font-family: Lexend;
    margin-right: 0.8rem;
}

h2 {
    font-size: 3rem;
    margin: 0%;
    color: var(--morado);
}

h3 {
    font-size: 2.4rem;
    margin: 0%;
    color: var(--morado);
}

p {
    font-size: 1.5rem;
}


.navegacion-principal a {
    font-size: 1.8rem;
    text-decoration: none;
    color: #c300ff;
    padding-block: 2rem;
    padding-inline: 2.5rem;
    transition: all 0.2s ease;
    font-weight: 700;
    font-family: Open Sans;
}

.navegacion-principal a:hover {
    background-color: var(--morado);
    color: white;
    transition: all 0.2s ease;
}

.navegacion-principal {
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: 12rem;
}


footer {
    display: flex;
    justify-content: center;
    background-color: #ffffff;
    position: absolute;
    bottom: 0%;
    width: 100%;
    box-shadow: 0px -4px 13px -6px rgba(0,0,0,1);
}

footer p {
    color: var(--morado);
    padding: 1rem;
    font-size: 1.2rem;
    font-family: Open Sans;
    font-weight: 700;
}


main {
    display: flex;
    flex-direction:column;
    margin-inline: 3rem;  
}

.SoyZeta {
    background-color: #48ffc8;
    padding: 2.5rem 2rem;
    border-radius: 1rem;
    width: 35rem;
    text-align: center;
    box-shadow: #0000003f 0px 0px 10px;
}

.laptopBg {
    width: 100%;
    position: absolute;
    z-index: -1;
    margin: 0%;
    left: 0%;
    top: 0%;
}