:root {
    --primario: #9B3CA5;
    --secundario: #F3D8FC;
    --oscuro: #3E093F;
}

* , html {
    scroll-behavior: smooth !important;
}

.hidden {
    opacity: 0;
    transform: translateY(15%);
    transition: all 1s ease;
  }

  .show {
    opacity: 1;
    transform: translateY(0);
  }

html {
    /* 62.5% of 16px browser font size is 10px */
    font-size: 62.5%;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    margin: 0%;
    padding: 0%;
    background-color: var(--secundario);
}

header {
    transition: all 0.2s ease;
    display: flex;
    background-color: var(--secundario);
}


.titleLogo{
    margin-left: 5vw;
    display: flex;
    justify-content: left;
    align-items: center;
}

h1 {
    color: var(--primario);
    font-size: 1.5vw;
    margin: 0%;
    font-family: Lexend;
    margin-right: 0.8rem;
}

h2 {
    font-size: 3vw;
    margin: 0%;
    color: var(--secundario);
}

h3 {
    font-size: 2vw;
    margin: 0%;
    color: var(--secundario);
    text-align: center;
    color: var(--secundario);
}

p {
    font-size: 1.4vw;
    color: var(--secundario);
}


.navegacion-principal a {
    font-size: 1.2vw;
    text-decoration: none;
    color: var(--primario);
    padding-block: 1.2rem;
    padding-inline: 2vw;
    transition: all 0.2s ease;
    font-weight: 700;
    font-family: Open Sans;
}

.navegacion-principal a:hover {
    background-color: var(--primario);
    color: var(--secundario);
    transition: all 0.2s ease;
}

.navegacion-principal {
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: 5vw;
}


footer {
    display: flex;
    justify-content: center;
    background-color: var(--secundario);
    position: relative;
    bottom: 0%;
    width: 100%;
}

footer p {
    color: var(--primario);
    padding: 1rem;
    font-size: 1.2rem;
    font-family: "Open Sans";
    font-weight: 600;
}


main {
    display: flex;
    flex-direction:column;
    margin-inline: 1.2vw;  
}

.divSoyZeta {
    text-align: center;
    width: 65vw;
    padding: 2rem;
    padding-bottom: 0%;
}
.divSoyZeta p {
    color: var(--secundario);
}

.laptopBg {
    background-image: url(../img/laptop-background.png);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-size: cover;
    padding-bottom: 10rem;
}

.laptopBg h3 {
    background-color: var(--primario);
    color: var(--secundario);
    margin-top: 2rem;
    padding: .8rem;
}

.bigTitle {
    font-size: 10vw;
    color: white;
}

.titleWebdesign {
    border-bottom: solid var(--secundario) 1.5vw;
    padding-bottom: 2vw;
    border-top: solid var(--secundario) 1.5vw;
    margin-top: 5rem;
}

.section-quiensoy {
    background-color: #141414;
    padding: 2vw 10vw 0;
    position: relative;
    z-index: 1;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.profileImage {
    display: flex;
    justify-content: right;
    margin-right: 5vw;
    filter: brightness(100%) contrast(0);
}

.div-quiensoy {
    margin-bottom: 2vw;
    padding-left: 5vw;
    padding-top: 1vw;
    border-left: solid var(--secundario) .3rem;

}

.div-quiensoy h2 , p {
    color: var(--secundario);
}

.section-elejirme {
    background-color: var(--oscuro);
    padding: 5vw 15vw;
    display: flex;
    justify-content: center;
    text-align: center;
}

.div-elejirme{
    padding-bottom: 0rem;
}

.section-ofrezco {
    background-color: var(--primario);
    padding: 3vw 10vw 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h4 {
    color: var(--secundario);
    font-size: 1.5vw;
}

.div-ofrezco {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
}

.div-ofrezco div {
    padding: 2vw;
    width: 100%;
}

.section-trabaja {
    background-color: var(--oscuro);
    display: flex;
    flex-direction: row;
    padding: 0 15vw;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.iconWork {
    padding-inline: 5vw;
    padding-block: 2vw;
}

.div-trabaja {
    padding-inline: 0vw;
    padding-block: 2vw;
}


.section-ending {
    background-color: var(--oscuro);
    padding: 0vw 10vw 3vw 30vw;
    display: flex;
    flex-direction: row;
    padding: 0 15vw;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.iconEnding {
    padding-inline: 5vw;
    padding-block: 2vw;
}

.div-ending {
    padding-inline: 0vw;
    padding-block: 2vw;
}

.construyamosh2 h2{
    font-size: 3.5vw;
    margin-bottom: 3vw;
}
.construyamosh2 {
    background-color: var(--oscuro);
    text-align: center;
}

.section-contactame {
    background-color: var(--oscuro);
    padding: 3vw 5vw;
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
    background-image: url(../img/background\ 2.png);
    background-size: cover;
}


.div-contactame h2 {
    font-size: 3vw;
    color: var(--secundario);
    text-wrap: nowrap;
}


.div-form form {
    text-align: left;
    font-family: "Open Sans";
    background-color: #000000a8;
    border-radius: 1vw;
    padding: 4vw 4vw;
}

.div-form h2 {
    color: white;
    text-align: center;
    margin-bottom: 4vw;
}

.div-form form h4 {
    color: white;
    margin: 1vw 0 .5vw;
    text-align: left;
}

#mailinput {
    background-color: rgba(255, 255, 255, 0.25);
    border: none;
    font-size: 1vw;
    padding: 0vw;
    font-family: "Open Sans";
    border-radius: .3vw;
    width: 98%;
    height: 2vw;
    padding: 0 0 0 .4vw;
    font-weight: 600;
    color: var(--oscuro);
}

.div-form form textarea {
    background-color: rgba(255, 255, 255, 0.25);
    border: none;
    font-size: 1vw;
    font-family: "Open Sans";
    border-radius: .3vw;
    width: 98%;
    height: 10vw;
    padding: .4vw 0 0 .4vw;
    font-weight: 600;
    color: var(--oscuro);
    resize: none;
}

.sumbit {
    background-color: var(--primario);
    border: none;
    font-size:1.5vw;
    font-family: "Open Sans";
    border-radius: .3vw;
    padding: .6vw 1vw;
    font-weight: bold;
    color: var(--secundario);
    margin-top: 1vw;
    cursor: pointer;
    transition: all 0.2s ease;
    margin-left: 73.5%;
}

.sumbit:hover {
    background-color: #af3dbb;
    transition: all 0.2s ease;
}

.div-form {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logoform {
    margin-left: 14vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: start;
}

.zetalogoform {
    font-size: 10vw;
}